extends layout

block content
  h1= title
  p Welcome to #{title}
  p create = post
  p read = get
  p update = put
  p delete = delete
  h2 Enable schemas:
  p museums
  p expo
  p hall
  p excursion
  p exhibit
  p staff
  p ticket
  p ticketsale
